<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar wind predictor</title>
    <style>
        iframe{
            background-color: aquamarine;
            display: none;
        }
    </style>
</head>
<body>
    <iframe name="graphImg"></iframe>
    <form action="/data/" method="post" enctype="multipart/form-data" target="graphImg">
        <input type="file" accept=".csv" name="file" required>
        <input type="Submit" value="Submit" id="submit">
    </form> 
    <script>
        let submit = document.getElementById('submit');
        submit.addEventListener('click',(event)=>{
            let iframe = document.getElementsByName('graphImg')[0];
            iframe.style.display = "block"
            let div = document.querySelector('div');
            console.log(div.style.display);
            div.style.display = "block";
        })
    </script>
</body>
</html>